body {
  background-color: black;
  color: #b1f530;
  font-family: Courier, mono;
  text-align: center;
}

.main-content {
  /* main content styles */
}

a {
  color: #e9e7e7;
}

a.active {
  color: yellow;
}
